@import "../node_modules/materialize-css/dist/css/materialize.min.css";
/* Materialize is downloaded for offline use */

body, html {
    background: #424242;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

th, td {
    padding-right: 20px;
}

tr:hover {
    background-color: rgba(255,255,255,0.1) !important;
    cursor: pointer;
}

thead tr:hover {
    background-color: transparent !important;
}

a:link, a:hover, a:active, a:visited {
    color: rgb(173, 186, 230);
    text-decoration: none;
}

.center {
    text-align: center;
}

.heirloomLogo {
    color: #89b1da;
    font-family: "Bookman Old Style", "Times New Roman", Times, serif;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.modalImgDiv {
    display: inline-block;
    vertical-align: top;
}

.modalImgOutside {
    display: inline-block;
}

#egStatus {
    font-weight: bold;
}

#games table tbody tr > :first-child {
    transition: transform 1s;
}

#games table tbody tr > :first-child:hover {
    transform: translate(15px, 0);
    text-shadow: 1px 0 0 white;
}

.hidden, .hide-dev {
    display: none;
}

/* Materialize */

.tabs .indicator {
    background: white !important;
}

.tabs .tab a.active {
    background: transparent !important;
}

.modal {
    overflow: hidden !important;
}

.col > .btn {
    width: 100%;
}

#gameModal .modal-footer {
    height: 110px !important;
}